In [10]:
import os
os.chdir('..')
import warnings
warnings.filterwarnings('ignore')
import pandas as pd

In [22]:
from scripts.scrap import start_scraping

In [23]:
channel = ['@DoctorsET','@lobelia4cosmetics','@yetenaweg','@EAHCI','@CheMed123']
start_scraping(channel)

### Scrapped datasets

In [24]:
scrappedData = pd.read_csv('telegram_data.csv')

scrappedData.head()

,message_date,message_id,message_description
0,2023-12-18 17:04:02,864,በቀን አንዴ ብቻ የሚባለው የቢዝነስ አማካሪ በ 10 000 ብር ብቻ የተጀ...
1,2023-11-03 16:14:39,863,ዶክተርስ ኢትዮጵያ በ አዲስ አቀራረብ በ ቴሌቪዥን ፕሮግራሙን ለመጀመር ከ...
2,2023-10-02 16:37:39,862,ሞት በስኳር ለልጆቻችን የምናሲዘው ምሳቃ ሳናቀው እድሚያቸውን ይቀንሰው ይ...
3,2023-09-16 07:54:32,861,ከ HIV የተፈወሰ ሰው አጋጥሟችሁ ያቃል ? ፈውስ እና ህክምና ? ሙሉ ቪ...
4,2023-09-01 16:16:15,860,በቅርብ ጊዜ በሃገራችን ላይ እየተስተዋለ ያለ የተመሳሳይ ፆታ Homosex...

### Data Cleaning

In [25]:
scrappedData.isnull().sum()

message_date           0
message_id             0
message_description    0
dtype: int64

In [27]:
scrappedData.drop_duplicates(inplace=True)
scrappedData.dropna(inplace=True)

scrappedData.tail()

,message_date,message_id,message_description
102,2022-12-28 06:31:50,67,Order your Power plus Vitamin and mineral supp...
103,2022-12-27 17:06:32,64,Che-Med Che-Med የመድሀኒትና የህክምና እቃዎች አፋላጊ እና አቅራ...
104,2022-12-25 15:46:05,62,የምስራች ከChe-Med ።።።።።።Che-Med አስታዋሽ።።።።።። Che-M...
105,2022-12-23 06:26:15,60,ቀጠሮ ያስይዙ በ ጥሪ ማዕከላችን 9798 በመደወል የዕንቅርት ህመም መቆጣ...
106,2022-12-22 06:40:25,59,ቀጠሮ ያስይዙ በ ጥሪ ማዕከላችን 9798 በመደወል የግፊት መድሃኒትዎን በ...

## Object Detection Using YOLO

In [7]:
import os

directory = r'C:\Users\Semir AI Legend\Desktop\Ethio-medical-data-warehouse\yolov5\runs\detect\exp\labels'
for filename in os.listdir(directory):
    if filename.endswith('.txt'):  # Process only .txt files
        file_path = os.path.join(directory, filename)  # Construct the full file path
        print(f"Attempting to open file: {file_path}")
        try:
            with open(file_path) as f:
                for line in f:
                    class_id, x_center, y_center, width, height, conf = line.strip().split()
                    print(f"Class ID: {class_id}, Conf: {conf}")  # Example processing
        except FileNotFoundError:
            print(f"File {file_path} not found.")

Attempting to open file: C:\Users\Semir AI Legend\Desktop\Ethio-medical-data-warehouse\yolov5\runs\detect\exp\labels\bus.txt
Class ID: 0, Conf: 0.534941
Class ID: 5, Conf: 0.849334
Class ID: 0, Conf: 0.851563
Class ID: 0, Conf: 0.870248
Class ID: 0, Conf: 0.896172
Attempting to open file: C:\Users\Semir AI Legend\Desktop\Ethio-medical-data-warehouse\yolov5\runs\detect\exp\labels\zidane.txt
Class ID: 0, Conf: 0.666693
Class ID: 27, Conf: 0.675119
Class ID: 0, Conf: 0.879861

In [14]:
import os
import pandas as pd

# Define the directory where the label files are stored
directory = r'C:\Users\Semir AI Legend\Desktop\Ethio-medical-data-warehouse\yolov5\runs\detect\exp\labels'

# Initialize an empty list to store the results
results = []

# Loop through all files in the directory
for filename in os.listdir(directory):
    if filename.endswith('.txt'):  # Process only .txt files
        file_path = os.path.join(directory, filename)  # Full path for the file
        try:
            with open(file_path) as f:
                for line in f:
                    # Extract values from each line in the text file
                    class_id, x_center, y_center, width, height, conf = line.strip().split()
                    # Append the data along with the filename (image name) to the results list
                    results.append([filename, class_id, x_center, y_center, width, height, conf])
        except FileNotFoundError:
            print(f"File {filename} not found. Skipping.")
        except Exception as e:
            print(f"Error reading {filename}: {e}")

# Create a DataFrame from the results list
df = pd.DataFrame(results, columns=['Image', 'Class', 'X_Center', 'Y_Center', 'Width', 'Height', 'Confidence'])

# Save the results to a CSV file
df.to_csv('detection_results.csv', index=False)

print("Detection results saved to 'detection_results.csv'.")

Detection results saved to 'detection_results.csv'.

In [15]:
df = pd.DataFrame(results, columns=['Image', 'Class', 'X_Center', 'Y_Center', 'Width', 'Height', 'Confidence'])
df.to_csv('detection_results.csv', index=False)

In [16]:
detectedImage= pd.read_csv('detection_results.csv')
detectedImage.head()

     Image  Class  X_Center  Y_Center     Width    Height  Confidence
0  bus.txt      0  0.041975  0.660648  0.083951  0.299074    0.534941
1  bus.txt      5  0.508025  0.468519  0.983951  0.524074    0.849334
2  bus.txt      0  0.183333  0.602778  0.245679  0.483333    0.851563
3  bus.txt      0  0.350000  0.590278  0.154321  0.425000    0.870248
4  bus.txt      0  0.914815  0.589352  0.170370  0.447222    0.896172